.hero:not(.home) {
  .content {
    padding: 40px 0 50px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 0 100%);
    h1,
    p,
    svg {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
    h1 {
      margin: 20px 0 10px;
    }
    p {
      color: white;
      margin: 0;
    }
    a:hover {
      color: $lightblue;
    }
  }
  .image {
    margin-top: -15px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    &.about {
      background-image: url(/static/covers/about.jpg);
    }
    &.features {
      background-image: url(/static/covers/features.jpg);
    }
    &.faq {
      background-image: url(/static/covers/faq.jpg);
    }
    &.pricing {
      background-image: url(/static/covers/pricing.jpg);
    }
    &.contact {
      background-image: url(/static/covers/contact.jpg);
    }
  }
  @media only screen and (min-width: $large) {
    height: 500px;
    display: flex;
    .content {
      height: 100%;
      width: 45%;
      padding: 70px 60px 70px 40px;
      clip-path: polygon(0 0, 100% 0, calc(100% - 25px) 100%, 0 100%);
      > .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    .image {
      width: calc(55% + 15px);
      margin: 0 0 0 -15px;
      height: auto;
      clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}