:root {
  --element-height: -20px;
}
.mockup.with-screen-scroll {
  position: relative;
  width: 250px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  .phone-shell {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .screen,
  .static {
    $bezel_width: 16px;
    $bezel_height_top: 61px;
    $screen_height: 521px;
    position: absolute;
    top: $bezel_height_top;
    left: $bezel_width;
    width: calc(100% - (#{$bezel_width} * 2));
    z-index: 1;
    transition: 1.5s;
    &.long {
      transition: 6s;
    }
    &.visible {
      transform: translateY(var(--element-height));
    }
  }
  &.small {
    width: 290px;
    height: 570px;
    border-radius: 48px;
    .screen {
      $bezel_width: 19px;
      $bezel_height_top: 70px;
      $screen_height: 521px;
      position: absolute;
      top: $bezel_height_top;
      left: $bezel_width;
      width: calc(100% - (#{$bezel_width} * 2));
    }
  }
}

.bg-lightblue .mockup .phone-shell {
  background: linear-gradient(to bottom, $lightblue 50px, transparent 50px, transparent 450px, $lightblue 450px);
}
.bg-darkblue .mockup .phone-shell {
  background: linear-gradient(to bottom, $darkblue 50px, transparent 50px, transparent 450px, $darkblue 450px);
}
.bg-orange .mockup .phone-shell {
  background: linear-gradient(to bottom, $orange 50px, transparent 50px, transparent 450px, $orange 450px);
}
.bg-green .mockup .phone-shell {
  background: linear-gradient(to bottom, $green 50px, transparent 50px, transparent 450px, $green 450px);
}
.bg-gray .mockup .phone-shell {
  background: linear-gradient(to bottom, $gray 50px, transparent 50px, transparent 450px, $gray 450px);
}
.bg-lightgray .mockup .phone-shell {
  background: linear-gradient(to bottom, $lightgray 50px, transparent 50px, transparent 450px, $lightgray 450px);
}
.bg-offwhite .mockup .phone-shell {
  background: linear-gradient(to bottom, $white 50px, transparent 50px, transparent 450px, $white 450px);
}
.bg-white .mockup .phone-shell {
  background: linear-gradient(to bottom, white 50px, transparent 50px, transparent 450px, white 450px);
}