/*
 * These are variables meant to be used throughout both .scss files and .vue files 
 * Import this file to the component to leverage the variables, mixins, and functions within the style section of the component
 *
 * Table of Contents:
 *
 * [01] Colors
 * [02] Layout
 * [03] Typography
 */


/*
 * [01] Colors
 */

/*
 * [a] Definitions
 */
$lightblue: #62a9c5;
$darkblue: #2d3f50;
$orange: #ec632e;
$green: #77c373;
$gray: #414142;
$white: #f8f2e8;

/*
* [02] Layout
* 
* Screen size breakpoints are pulled from Bootstrap's media queries
*/

/*
* [a] Definitions
*/
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1440px;
$xxxlarge: 1600px;

/*
* [b] Mixins
*/
@mixin media-breakpoint-up($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin media-breakpoint-down($size) {
  @media only screen and (max-width: $size - 0.02px) {
    @content;
  }
}

@mixin grid-boxes($columns: auto, $rows: auto, $box_width: auto, $box_height: auto, $gap: 0) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($columns, $box_width);
  grid-template-rows: repeat($rows, $box_height);
  grid-gap: $gap;
  .box {
    position: relative;
    overflow: hidden;
  }
}

/*
* [03] Typography
*/

/*
* [a] Defintions
*/
// @font-face {
//   font-family: 'Avenir';
//   src: url('~/static/fonts/Avenir/Avenir-Thin.ttf');
//   font-weight: 100;
//   font-style: normal;
// }
$font: 'Avenir', 'Verdana', sans-serif;

/*
* [b] Mixins
*/
@mixin title-font {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}