input {
  background: white;
  color: $gray;
  border-radius: 3px;
  outline: none;
  border: none;
  height: 44px;
  font-size: 16px;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: auto;
  background: $darkblue;
  color: $white;
  border-radius: 3px;
  outline: none;
  border: none;
  height: 44px;
  padding: 0 30px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
  img.arrow {
    height: 10px;
    margin-left: 10px;
  }
  &:hover {
    background: $green;
  }
  &.bg-lightblue:hover {
    background: $green;
  }
  &.bg-darkblue:hover {
    background: $green;
  }
  &.bg-green {
    background: $green;
    color: $gray;
  }
  &.bg-green:hover {
    background: $orange;
    color: $white;
  }
}