input {
  background: white;
  color: $gray;
  border-radius: 3px;
  outline: none;
  border: none;
  height: 52px;
  padding: 0 20px;
  font-size: 16px;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: auto;
  background: $darkblue;
  color: $white;
  border-radius: 3px;
  outline: none;
  border: none;
  height: 52px;
  padding: 0 30px;
  text-decoration: none;
  @media only screen and (min-width: 1000px) {
    font-size: 18px;
  }
}