html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  &.content-container {
    max-width: 860px;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
}

.with-bg-image {
  position: relative;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.95);
  }
  .container {
    position: relative;
    z-index: 3;
  }
}

.padded-section {
  padding: 50px 0;
}

.hidden {
  opacity: 0;
}
.fade-in {
  animation: fade-in 0.8s, scale-up 0.8s;
}

.value-section {
  margin: 20px 0;
  @media only screen and (min-width: $medium) {
    margin: 30px 0;
  }
  .fade-in {
    @include fade-in-up-from-left;
  }
}

.angle-split {
  .col-lt {
    background: #f1f1f1;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  }
  .col-rt {
    background: #e4e4e4;
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
  }
  &.angle-color {
    .col-lt {
      background: $green;
    }
    .col-rt {
      background: $lightblue;
    }
    h2,
    p,
    li {
      color: white;
    }
  }
  @media only screen and (min-width: $large) {
    display: flex;
    justify-content: space-between;
    background:linear-gradient(98deg, #f1f1f1 0, #f1f1f1 49%, white 49%, white 51%, #e4e4e4 51%, #e4e4e4 100%);
    .col-lt,
    .col-rt {
      width: 50%;
      background: none;
      > .container {
        width: 50%;
      }
    }
    .col-lt {
      clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
      padding: 100px 0;
    }
    .col-rt {
      clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%);
      padding: 180px 0 100px;
    }
    &.angle-color {
      background:linear-gradient(98deg, $green 0, $green 49%, white 49%, white 51%, $lightblue 51%, $lightblue 100%);
      .col-lt,
      .col-rt {
        background: none;
      }
    }
  }
}
