*,
*:before,
*:after {
  font-family: $font;
  font-weight: 300;
}
p,
li {
  font-size: 16px;
  &.small {
    font-size: 12px;
  }
  &.large {
    font-size: 20px;
    line-height: normal;
  }
}
p,
li,
a {
  line-height: 1.56;
  color: #868686;
}

a:not(.button) {
  transition: 0.4s;
  &:hover {
    color: $orange;
  }
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1;
}

h2 {
  font-size: 2em;
  line-height: 0.95;
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: $gray;
}

.section-header-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  img {
    display: block;
    width: 65%;
    height: 65%;
    object-fit: contain;
  }
}

.content {
  p {
    font-size: 16px;
    margin: 0 0 40px;
    &.lead {
      font-size: 22px;
      line-height: 1.4;
      font-weight: 100;
    }
  }
  h2 {
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    text-transform: none;
  }
  @media only screen and (min-width: $large) {
    p {
      &.lead {
        font-size: 34px;
      }
    }
    h2 {
      font-size: 24px;
    }
  }
}

ul.feature-list {
  &.darkblue {
    list-style-image: url('~/static/icons/check-darkblue.png');
  }
  &.lightblue {
    list-style-image: url('~/static/icons/check-lightblue.png');
  }
  &.green {
    list-style-image: url('~/static/icons/check-green.png');
  }
  &.white {
    list-style-image: url('~/static/icons/check-white.png');
  }
  li {
    margin-bottom: 15px;
  }
}