*,
*:before,
*:after {
  font-family: $font;
  font-weight: 300;
}
p,
li {
  font-size: 16px;
  &.small {
    font-size: 12px;
  }
  &.large {
    font-size: 20px;
    line-height: normal;
  }
  &.lead {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 100;
  }
  @media only screen and (min-width: $xxxlarge) {
    font-size: 20px;
    &.small {
      font-size: 16px;
    }
    &.large {
      font-size: 24px
    }
    &.lead {
      font-size: 26px;
    }
  }
}
p,
li {
  color: #868686;
}
p,
li,
a {
  line-height: 1.56;
}
a {
  color: inherit;
}
strong {
  font-weight: 400;
}

a:not(.button) {
  transition: 0.4s;
  &:hover {
    color: $orange;
  }
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1;
  @media only screen and (min-width: $xxxlarge) {
    font-size: 4em;
  }
}

h2 {
  font-size: 2em;
  line-height: 0.95;
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: $gray;
  @media only screen and (min-width: $xxxlarge) {
    font-size: 3em;
  }
}

h3 {
  margin: 0;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.section-header-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  img {
    display: block;
    width: 65%;
    height: 65%;
    object-fit: contain;
  }
  &.section-header-icon-large {
    height: 70px;
    width: 70px;
    border-radius: 70px;
  }
}

.content {
  p {
    margin: 0 0 40px;
    &.lead {
      font-size: 22px;
      line-height: 1.4;
      font-weight: 100;
    }
  }
  @media only screen and (min-width: $large) {
    p {
      &.lead {
        font-size: 34px;
      }
    }
  }
}

ul.feature-list {
  list-style-type: none;
  padding: 0;
  li {
    position: relative;
    padding-left: 25px;
    &:before {
      content: url('~/static/icons/checkmark-white.png');
      position: absolute;
      top: 2px;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.darkblue {
    li:before {
      background: $darkblue;
    }
  }
  &.lightblue {
    li:before {
      background: $lightblue;
    }
  }
  &.orange {
    li:before {
      background: $orange;
    }
  }
  &.green {
    li:before {
      background: $green;
    }
  }
  &.white {
    li:before {
      content: url('~/static/icons/check-white.png');
    }
  }
  li {
    margin-bottom: 15px;
  }
}